@import "var.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}
input {
    background-color: var(--homeSearchBtn);
}
input:focus {
    outline: none;
}

body {
    background-color: var(--dark);
}

/* *********************** */
/* starts header */
/* *********************** */

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--reddish);
}
/* start heading left */
header .heading-left {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    font-size: 2.4rem;
}
header .heading-left span strong:last-child {
    color: var(--reddish);
}
header .heading-left span strong:first-child {
    color: var(--white);
    font-weight: 900;
}
/* end heading left */

/* start heading right */
header .heading-right {
    padding-top: 4px;
}
header .heading-right .top {
    display: flex;
    height: 30px;
    margin: 1px 0;
}
header .heading-right .top .dropdown button {
    font-weight: 700;
}
header .heading-right .top .search {
    display: flex;
}
header .heading-right .top .search button {
    border: none;
    padding: 0 1rem;
    background-color: var(--homeSearchBtn);
    color: var(--white);
}
header .heading-right .top .search input {
    width: 20rem;
    background-color: var(--homeSearchBar);
}
header .heading-right .top .social-media-icons {
    margin: 0 1rem 0 2rem;
}
header .heading-right .top .social-media-icons img {
    width: 1.7rem;
    margin: 0 0 0 1.6rem;
}
header .heading-right .bottum {
    bottom: 0;
    text-align: right;
}

/* strts hover dropdown */
header .heading-right .bottum .dropbtn {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 6px;
    font-size: 16px;
    border: none;
}

header .heading-right .bottum .dropdown {
    position: relative;
    display: inline-block;
}

header .heading-right .bottum .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header .heading-right .bottum .dropdown-content a {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    z-index: 3;
}

header .heading-right .bottum .dropdown:hover .dropdown-content {
    z-index: 3;
    display: block;
}
/* ends hover dropdown */
header .heading-right .bottum span a {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .heading-right .bottum span:last-child {
    margin-left: 3rem;
    height: 100% !important;
    padding: 0.7rem 2rem;
    font-size: 2.2rem;
    background-image: linear-gradient(to right, var(--dark), var(--red));
}
header .heading-right .bottum span span {
    display: inline-block;
    height: 2rem;
    width: 0.3rem;
    margin: 0 1rem -0.5rem 1rem;
    background-color: #606060;
}
/* end heading right */

/* *********************** */
/* ends header */
/* *********************** */

/* *********************** */
/* start nav */
/* *********************** */
.selected-link {
    background-image: linear-gradient(to right, var(--red), var(--dark));
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li {
    padding: 0.3rem 3rem;
}
nav ul li a {
    color: var(--white) !important;
}
/* *********************** */
/* start nav */
/* *********************** */

/* *********************** */
/* start carousel */
/* *********************** */
.company-names {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
#carousel-right-btn {
    position: static;
    width: fit-content;
}
#carousel-right-btn img {
    width: 2rem;
}
.carousel-indicators {
    position: static;
    margin: 0 3rem;
}
.carousel-indicators button {
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 50% !important;
}
#carousel-left-btn {
    position: static;
    width: fit-content;
}
#carousel-left-btn img {
    width: 2rem;
    transform: rotate(180deg);
}
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    display: none;
}
/* *********************** */
/* start carousel */
/* *********************** */

/* *********************** */
/* start top players */
/* *********************** */
.home-list {
    display: flex;
}
.top-players {
    width: 66%;
}
.top-players h2 {
    margin: 0 0 2rem 7rem;
    padding: 1rem;
    border-left: solid var(--white) 0.5rem;
}
.top-players ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.top-players ul li {
    border-radius: 5px;
    margin: 2rem;
    position: relative;
    width: 20rem;
    height: 25rem;
    box-shadow: 2px 2px 24px 5px var(--black);
    overflow: hidden;
}
.top-players ul li .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(transparent, var(--dark));
    bottom: -3rem;
    opacity: 0;
    transition: all ease-in-out 0.4s;
}
.top-players ul li .info strong {
    margin-bottom: 1rem;
}
.top-players ul li:hover .info {
    bottom: 0;
    opacity: 1;
}
.top-players ul li img {
    position: absolute;
    width: 100%;
}
/* *********************** */
/* end top players*/
/* *********************** */

/* *********************** */
/* start top views*/
/* *********************** */
.top-views {
    width: 34%;
}
.top-views h2 {
    margin: 0 0 2rem 5rem;
    padding: 1rem;
    border-left: solid var(--white) 0.5rem;
}
.top-views ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.top-views ul li {
    border-radius: 5px;
    margin: 2rem;
    box-shadow: 2px 2px 24px 5px var(--black);
    position: relative;
    width: 30rem;
    height: 16rem;
    overflow: hidden;
}
.top-views ul li > span {
    padding: 1rem;
    box-shadow: 1px 1px 10px 1px var(--black);
    border-radius: 0 0 10px 0;
}
.top-views ul li .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(transparent, var(--dark));
    bottom: -3rem;
    opacity: 0;
    transition: all ease-in-out 0.3s;
}
.top-views ul li:hover .info {
    bottom: 0;
    opacity: 1;
}
.top-views ul li img {
    position: absolute;
    width: 100%;
}
/* *********************** */
/* end top views*/
/* *********************** */

/* *********************** */
/* start top partners*/
/* *********************** */
.partners {
    margin-bottom: 5rem;
}
.partners h2 {
    font-size: 3rem;
    background: -webkit-linear-gradient(var(--headingBlue), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3rem 0;
}

.partners ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.partners ul li {
    width: 10rem;
    height: 5rem;
    margin: 1rem 6rem;
    box-shadow: 1px 1px 10px 1px var(--black);
    overflow: hidden;
}
.partners ul div li img {
    width: 100%;
}
/* *********************** */
/* end top partners*/
/* *********************** */

/* *********************** */
/* start top footer*/
/* *********************** */
footer {
    margin: 1rem 0;
}
footer .footer-top {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
}
footer .footer-top span {
    font-size: 1.2rem;
    text-transform: uppercase;
}
footer .footer-top div {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-top div div:first-child {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    background-color: var(--white);
}
footer .footer-top div div:nth-child(2) {
    width: 60%;
    height: 2px;
    background-color: var(--white);
}
footer .footer-top div div:last-child {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    background-color: var(--white);
}
/* *********************** */
/* end top footer*/
/* *********************** */
