@import "var.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

body {
    background-color: var(--dark);
}

/* *********************** */
/* starts header */
/* *********************** */

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--reddish);
}
header .heading-left {
    display: flex;
    align-items: center;
    margin-left: 4rem;
    font-size: 2.4rem;
}
header .heading-left span strong:last-child {
    color: var(--reddish);
}
header .heading-left span strong:first-child {
    color: var(--white);
    font-weight: 900;
}

header .heading-right {
    padding-top: 4px;
}
header .heading-right .top {
    display: flex;
    height: 30px;
    margin: 1px 0;
}
header .heading-right .top .dropdown button {
    font-weight: 700;
}
header .heading-right .top .search {
    display: flex;
}
header .heading-right .top .search button {
    border: none;
    padding: 0 1rem;
    background-color: var(--homeSearchBtn);
    color: var(--white);
}
header .heading-right .top .search input {
    background-color: var(--homeSearchBar);
}
header .heading-right .top .search input:focus {
    outline: none;
}
header .heading-right .top .social-media-icons {
    margin: 0 1rem 0 2rem;    
}
header .heading-right .top .social-media-icons img {
    width: 1.7rem;
    margin: 0 0 0 1.6rem;
}
header .heading-right .bottum {
    bottom: 0;
    text-align: right;
}
header .heading-right .bottum span a {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
header .heading-right .bottum span:last-child {
    margin-left: 3rem;
    height: 100% !important;
    padding: 0.7rem 2rem;
    font-size: 2.2rem;
    background-image: linear-gradient(to right, var(--dark),var(--red));
}
header .heading-right .bottum span span {
    display: inline-block;
    height: 2rem;
    width: 0.3rem;
    margin: 0 1rem -0.5rem 1rem;
    background-color: #606060;
}
/* *********************** */
/* ends header */
/* *********************** */


/* *********************** */
/* start nav */
/* *********************** */
.selected-link {
    background-image: linear-gradient(to right, var(--red),var(--dark));
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}
nav ul li {
    padding: 0.2rem 3rem;
}
nav ul li a {
    color: var(--white) !important;
}
/* *********************** */
/* start nav */
/* *********************** */
