@font-face {
    font-family: main-font;
    font-weight: bold;
    src: url('../../public/fonts/delargodtblackitalic.ttf');
}
:root {
    --black: black;
    --headingBlue: #6d8ea0;
    --dark: #26282a;
    --white: #fff;
    --red: red;
    --reddish: #b22727;
    --homeSearchBtn: #989898;
    --homeSearchBar: #e8e8e8;
    --fontFamily: main-font;
    --green: rgba(0,175,33,1);
    --lightgray: rgba(134,125,126,1);

}
