<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/bootstrap/mdb.dark.min.css">
    <link rel="stylesheet" href="../styles/css/index.css">

    <title>bootcamp E sports</title>
</head>

<body>
    <header>
        <div class="heading-left">
            <span><strong>BootCamp.</strong><strong>esport</strong></span>
        </div>
        <div class="heading-right">
            <div class="top">
                <div class="dropdown">
                    <button class="btn text-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        Teams
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another</a></li>
                        <li><a class="dropdown-item" href="#">Something </a></li>
                    </ul>
                </div>
                <div class="search">
                    <input type="search" id="form1" />
                    <button type="button" class="">
                        Search
                    </button>
                </div>
                <div class="social-media-icons">
                    <a href=""><img src="../public/images/whatsapp.png" alt=""></a>
                    <a href=""><img src="../public/images/whatsapp.png" alt=""></a>
                    <a href=""><img src="../public/images/whatsapp.png" alt=""></a>
                </div>
            </div>
            <div class="bottum">
                <span>
                    <a href="">LOGIN</a>
                    <span></span>
                    <a href="">SIGN UP</a>
                </span>
                <span>
                    ESPORTS
                </span>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Teams</a></li>
            <li><a href="">Recruitments</a></li>
            <li><a href="">Tournaments</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </nav>
    <section id="home-carousel">
        <!-- Carousel wrapper -->
        <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
                        alt="Sunset Over the City" />
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div> -->
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
                        alt="Canyon at Nigh" />
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div> -->
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
                        alt="Cliff Above a Stormy Sea" />
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div> -->
                </div>
            </div>
            <div class="company-names">
                <div class="felt">left</div>
                <!-- Inner -->
                <div class="carousel-btns">
                    <!-- Controls -->
                    <button id="carousel-left-btn" class="carousel-control-prev" type="button"
                        data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="false">
                            <img src="../public/images/arrow-64.png" alt="">
                        </span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <button id="carousel-right-btn" class="carousel-control-next" type="button"
                        data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="false">
                            <img src="../public/images/arrow-64.png" alt="">
                        </span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="right">right</div>
            </div>

        </div>
        <!-- Carousel wrapper -->
    </section>
    <section class="home-list">
        <div class="top-players">
            <h2>TOP PLAYERS</h2>
            <ul>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="top-views">
            <h2>TOP VIEWS</h2>
            <ul>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <span>20m</span>
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <span>300k</span>
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <span>100k</span>
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
                <li>
                    <img src="../public/images/whatsapp.png" alt="">
                    <span>20b</span>
                    <div class="info">
                        <strong>Rahul</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, corporis suscipit culpa provident</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <script src="../styles/bootstrap/mdb.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>