<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/bootstrap/mdb.dark.min.css">
    <link rel="stylesheet" href="../styles/css/index.css">

    <title>bootcamp E sports</title>
</head>

<body>
    <header>
        <div class="heading-left">
            <span><strong>BootCamp.</strong><strong>esport</strong></span>
        </div>
        <div class="heading-right">
            <div class="top">
                <div class="dropdown">
                    <button class="btn text-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        Teams
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another</a></li>
                        <li><a class="dropdown-item" href="#">Something </a></li>
                    </ul>
                </div>
                <div class="search">
                    <input type="search" id="form1" />
                    <button type="button" class="">
                        Search
                    </button>
                </div>
                <div class="social-media-icons">
                    <a href=""><img src="../public/images/whatsapp.png" alt=""></a>
                    <a href=""><img src="../public/images/whatsapp.png" alt=""></a>
                    <a href=""><img src="../public/images/whatsapp.png" alt=""></a>
                </div>
            </div>
            <div class="bottum">
                <span>
                    <a href="">LOGIN</a>
                    <span></span>
                    <a href="">SIGN UP</a>
                </span>
                <span>
                    ESPORTS
                </span>
            </div>
        </div>
        </div>
    </header>
    <nav>
    </nav>


    <script src="../styles/bootstrap/mdb.min.js"></script>
</body>

</html>